.launchEstimatesWrapper{
    margin: 8px 15px
}

.yearBoxWrapper{
    height: 50px;
    border-top: 0;
    border-bottom: 0;
}
.TAViewWrapper .launchEstimatesContainer
{
    pointer-events: none;
}