.myCIHomeWrapper{
    padding-top: 15px;
}
.myCIHomeGenericWrapper .homepageWrapper span,.homepageWrapper p,.homepageWrapper h1{
    font-size: 13px;
}
.myCIHomeWrapper span,.myCIHomeWrapper p,.myCIHomeWrapper a{
    font-size: 13px;
}
.researchWorklistWrapper header button span{
    font-size: 13px;
    margin:0;
}
.researchWorklistWrapper li{
    font-size: 13px;
    line-height: 20px;
}
.datePublicationSourceWrapper span:nth-child(2){
    padding-right: 10px;
}
.datePublicationSourceWrapper span:nth-child(1){
    text-transform: capitalize;
}
/*Brand View Styles start*/
.tabComponentWrapper > div{
    width: inherit;
}
.tabComponentWrapper header button{
    min-width: auto;
}
.tabComponentWrapper header span{
    width: auto;
}
.TAViewWrapper .cardContainer > div>div:nth-child(2){
    height: 290px !important;
}
.TAViewWrapper .breadCrumbWrapper{
    display: none;
}
.TAViewWrapper .launchEstimatesContainer{
    margin: 0;
}
.TAViewWrapper .ePVMDM{
    width: 25%;
}
.TAViewWrapper .kQOhgZ{
    min-height: 190px;
}
.TAViewWrapper .IIieN {
    padding: 5px 1px;
    font-size: 10px;
    word-break: break-all;
}
.TAViewWrapper .fAXdhw{
    font-size: 12px;
    padding-top: 10px;
}
.TAViewWrapper .LaunchEstimateWrapper button{
    margin-left: 78%;
}
.SalesContributionWrapper{
    height:242px;
}
.iconWrapper{
    width: 42%;
    position: absolute;
    padding: 10px 14px;
    top: -15px;
    left: 10px;
    border-radius: 3px;
}
.iconWrapper svg{
    height: 46px;
    width: 46px;
}
.paperWrapper{
    position: relative;
    /* height: 139px; */
    /* margin-top: 70px; */
    /* padding-top: 63px; */
    /* border: none; */
    text-align: right;
    /* padding-right: 15px; */
}    
.paperWrapper >div{
    box-shadow: none;
}
 /* styling for heading of map card */
.paperWrapper div div .headingBlue {
    text-align: left;
}
.competitorProductWrapper.cardContainer>div > div>div:nth-child(2),.competitorNewsWrapper.cardContainer >div>div>div:nth-child(2){
    min-height: 119px !important;
    height: 119px !important;
} 
.competitorProductWrapper>div> div:nth-child(1),.competitorNewsWrapper>div:nth-child(1){
    margin-bottom: 5px;
}
.tag-cloud{
    height: 100px;
}
ul[role=menu] > li{
    font-size: 14px;
}
.chartWrapper .tilesWrapper>div{
    padding: 5px 15px;
    margin-bottom: 20px;
}
button[state=menu]{
    display: none;
}
.competitorNewsWrapper>div>div:nth-child(2)>div>div>div,.competitorProductWrapper>div>div>div:nth-child(2)>div>div>div{
    padding: 10px 15px 0 15px !important;
}
button[state="menu"]{
    display: none !important;
}
.autoSuggestSearchBox{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 5px;
}
/* Search box css styles start*/

/* As per new requirement search icon padding should be reduced */
.ComperitorViewWrapper .autoSuggestSearchBox input{
    width: 205px;
    padding: 8px 0 8px 40px;
    color: grey;
    font-size: 12px;
}
.autoSuggestSearchBox >div:before,.autoSuggestSearchBox >div:after,.autoSuggestSearchBox >div:hover{
    border-bottom: none !important;
}
.ComperitorViewWrapper .autoSuggestSearchBox input::-webkit-input-placeholder{
    color: grey;
}


.TAViewWrapper .autoSuggestSearchBox input{
    width: 205px;
    padding: 8px 0 8px 40px;
    color: grey;
    font-size: 14px;
    /* background: white; */
}

.TAViewWrapper .autoSuggestSearchBox input::-webkit-input-placeholder{
    color: grey;
}

/* As per new requirement search icon padding should be reduced */
/* Search box css styles end*/
.autoSuggestSearchBox form{
    display: inline-block;margin: 0;
}
.autoSuggestSearchBox form>div{
    margin:0;
}
.autoSuggestSearchBox form>div>div{
    margin:0;
}
.autoSuggestSearchBox form>div>div>div>div{
    padding:0;font-size: 14px;
}
.autoSuggestSearchBox label,.autoSuggestSearchBox em{
    margin-right: 10px;
    font-family: roboto;
    font-weight: normal;
    margin-bottom: 0;
}
.autoSuggestSearchBox em{
    font-size: 14px;font-style: normal;
}
.autoSuggestSearchBox .iframe{
    width: 100%;
    height: 250px;
}
iframe .top-band{
    display: none;
}
.decodeXWrapper{
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 5px;
    padding: 15px 10px;
    font-family: roboto;
}
.decodeXWrapper span{
    font-size: 18px;
}
.decodeXWrapper p span{
    font-size: 44px;
}
.contentList>div>div:last-child>div>hr{
    display: none;
}
.sideLogoWrapper{
    width: 106px;
    float: right;
    position: relative;
}
.decodeXWrapper p{
    display: inline-block;
}
.decodeXWrapper p:nth-child(1){
    font-size: 43px;
    margin: 0;
    position: absolute;
    top: -20px;
    left: -50px;
}
.decodeXWrapper p:nth-child(2),.decodeXWrapper p:nth-child(3),.decodeXWrapper p:nth-child(4){
    font-size: 12px;
    margin: 0;
    position: absolute;
    top: -8px;
    left: 0;
}
.decodeXWrapper p:nth-child(3){
    top: 5px;
    left: 0;
}
.decodeXWrapper p:nth-child(4){
    top: 17px;
    left: 0;
}
/*Generic page styles start*/
.mySearchesWrapper{
    padding-right: 5px;
    width: 100%;
    position: relative;
}
.mySearchesWrapper>div{
    display: inline-block;
}
.mySearchesWrapper>div>span:first-child:hover{
    text-decoration: underline;
    cursor: pointer;
}
.mySearchesWrapper .titleWrapper{
    width:70%;
}
.mySearchesWrapper .daysWrapper{
    float: right;
}
.mySearchesWrapper .daysWrapper>span:nth-child(1){
    padding-top: 12px;
    top: 11px;
    position: absolute;
    right: 76px;
}
.mySearchesWrapper .daysWrapper>span>span{
    z-index: 0;
    font-size: 12px;
    padding: 9px;
    margin-right: 5px;
}
/* Competetior view*/
.cardContentContainer{
    width:98%;
}
.cardContentContainer>div{
    width:inherit;
}
.ComperitorViewWrapper span{
    font-size: 12px;
}
@media only screen and (max-width: 767px) {
    .sideLogoWrapper {
        width: 53px;
    }
    .decodeXWrapper{
        text-align: left;
    }
  }

