.MyViewWrapper{
    padding-top:15px;
}
.react-grid-layout layout{
    height:auto !important;
}
.react-grid-item.cssTransforms{
    /* width: auto !important;
    height: auto !important; */
    /* position: static !important;
    transform: none !important;
    display: inline-block; */

}