.myCIHomeWrapper .cardContainer{
    /* margin: 11px 0; */
}
.myCIHomeGenericWrapper .cardContainer{
    margin:5px 0 10px 0;
}
.cardContainer{
    /* margin-bottom: 10px; */
}
.cardContainer>div>div>div:nth-child(2)>button{
    padding: 0 10px;
}
.cardContainer>div>div>div>span{
    font-size: 18px;
}
.CardWithinCardWrapper > div>div:nth-child(1){
    padding: 0 0 0 16px;
}
.CardWithinChartWrapper > div>div:nth-child(1){
    padding: 0 0 0 16px;
}
.cardContainer>div:nth-child(1)>div:nth-child(1)>div:nth-child(1){
    padding: 0px 0px 0 16px;
}
.settingsWrapper>div>div:nth-child(1)>div:nth-child(1){
    padding: 0 !important;
}
.cardContainer>div>div>div:nth-child(1) span{
    font-size: 13px;
}
.tabCardContainer .CardWithinTabWrapper > div>div:nth-child(2)>div>div>div{
    padding-top: 0;
}
.iconsWrapper{
    height: 48px;
    padding-top: 12px;
    margin-right: 10px;
}
.expandShrinkWrapper{
    display: inline-block;
}
.iconsWrapper .expandShrinkWrapper,.iconsWrapper .expandShrinkWrapper:hover{
    margin-right: 5px;
    padding: 5px 9px;
    display: inline-block;
    cursor: pointer;
}
.iconsWrapper .expandShrinkWrapper:hover{
    border-radius: 50%;
}
.iconsWrapper .expandShrinkWrapper svg,.iconsWrapper .expandShrinkWrapper svg:hover{
    font-size: 14px;
}
.iconsWrapper svg{
    font-size: 16px;
}
.cardContainer>div>div:nth-child(1)>div:nth-child(2){
    margin: 0;
}
.cardContainer>div>div:nth-child(1)>div:nth-child(2)>div>div>div{
    padding-top: 5px;
    position: relative;
}
.cardContainer>div>div:nth-child(2){
    min-height: 200px !important;height: 200px !important;
}
.myCIHomeWrapper .cardContainer>div>div:nth-child(2){
    min-height: 155px !important;height: 155px !important;
}
/* .myCIHomeWrapper .simpleCardWrapper > div{
    min-height: 123px;
} */
.myCIHomeGenericWrapper .cardContainer>div>div:nth-child(2){
    min-height: 185px !important;height: 185px !important;
}
.myCIHomeWrapper .cardContainer>div>div:nth-child(2)>div>div>div{
   padding: 10px 15px;
}
.cardContainer .SettingsSourceWrapper>div{
    display: inline;
}
.SettingsSourceWrapper label{
    width:125px;
}
.SettingsSourceWrapper svg{
    width:0.7em;
    height: 0.7em;
}
.ModalActionButtonWrapper button{
    font-size: 16px;
    font-family: "Roboto";
    font-weight: normal;
}
.simpleCardWrapper p,.simpleCardWrapper span{
    font-size: 11px;
    margin-bottom: 0;
}
.myCIHomeGenericWrapper span{
    font-size: 13px;
}
.datePublicationSourceWrapper span {
    font-size: 11px;
}
/* .simpleCardWrapper>div{
    min-height: 155px;
} */
/* .myCIHomeGenericWrapper .simpleCardWrapper>div{
    min-height: 200px;
} */
.myCIHomeGenericWrapper .siblingDivWrapper .simpleCardWrapper>div{
    min-height: 175px;
    height:175px;
}
.siblingDivWrapper .simpleCardWrapper>div{
    min-height: 120px;
    height:120px;
}
.ComperitorViewWrapper .siblingDivWrapper .simpleCardWrapper>div{
    min-height: 150px;
    height: 150px;
}
.ComperitorViewWrapper .ProductDashboardWrapper .siblingDivWrapper .simpleCardWrapper>div{
    min-height: 150px;
    height: 150px;
}
.siblingDivWrapper >div{
    margin-bottom:10px; 
}
.myCIHomeGenericWrapper .siblingDivWrapper >div:nth-child(2){
    margin-bottom:0; 
}
.patentWatchContainer{
    margin-top: -255px;
    min-height:250px;
}
.socialMediaChartContainer{
    margin-top: -344px;
}
.productSizeWrapper{
    /* margin-top: -483px; */
}
.ComperitorViewWrapper .productSizeWrapper .paperWrapper{
    height: 85px;
    text-align: center;
    padding: 10px;
}
.productSizeWrapper{
    padding-right: 4px !important;
}
.productSizeWrapper .paperWrapper p{
    font-size: 15px;
}
.productSizeWrapper > div:first-of-type{
    margin-bottom:10px; 
}
.ComperitorViewWrapper .publicationContainer.siblingDivWrapper .simpleCardWrapper>div{
    min-height: 158px;
    height: 158px;
}
.ComperitorViewWrapper .publicationContainer .simpleCardWrapper .contentList{
    max-height: 340px;
    overflow-y: auto;
    height: 340px;
}
/* .TAViewWrapper .simpleCardWrapper .contentList{
    max-height: 250px;
    overflow-y: auto;
  } */
  
.TAViewWrapper .simpleCardWrapper .contentList{
    max-height: 120px;
    overflow-y: auto;
}
.TAViewWrapper .patentWatchContainer .simpleCardWrapper .contentList{
    max-height: 170px;
    overflow-y: auto;
}
.ComperitorViewWrapper .simpleCardWrapper .contentList{
    max-height: 145px;
    overflow-y: auto;
    height: 145px;
}
.ProductDashboardWrapper h1{
    margin: 0;
    font-size: 14px;
    color: #7CAA2D;
}
.ComperitorViewWrapper .ProductDashboardWrapper .simpleCardWrapper .contentList{
    max-height: 185px;
    overflow-y: auto;
    height: 185px;
}
.competitorProductWrapper .simpleCardWrapper .contentList,.competitorNewsWrapper .simpleCardWrapper .contentList{
    overflow-y: auto;
    max-height: 95px;
}
/* .competitorNewsWrapper{
    padding-left: 0 !important;
} */
.researchWorklistWrapper>div:nth-child(3){
    padding-left:0; 
}
.researchWorklistWrapper>div:nth-child(1){
    padding-right:0; 
}
.simpleCardWrapper>div>div{
    padding:0 !important;
}
.simpleCardWrapper h1{
    margin-bottom: 5px;
}
.simpleCardWrapper > div{
    box-shadow: none;
    min-width: auto;
}
.middleCard .simpleCardWrapper > div{
    min-height: 430px;
}
.middleCard .simpleCardWrapper .contentList{
    max-height: 430px;
    overflow-y: auto;
}
/* .TAViewWrapper .middleCard .simpleCardWrapper .contentList{
    height: 430px;
} */
.middleCard .CardWithinTabWrapper .contentList{
    max-height: 325px;
    overflow-y: auto;
    height: 325px;
}
.ComperitorViewWrapper .middleCard .CardWithinTabWrapper .contentList{
    max-height: 650px;
    overflow-y: auto;
    height: 650px;
}
.simpleCardWrapper .contentList,.CardWithinTabWrapper .contentList{
    max-height: 176px;
    overflow-y: auto;
}
.linkContainer{
    width: 91%;
}
.simpleCardWrapper a{
    display: inline-block;
    white-space: nowrap;
    width: auto;
    max-width: 93%;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-right: 5px;
    font-size: 13px;
}

/*changes for CI7*/
.contentList::-webkit-scrollbar {
    width: 10px;
 }
.contentList::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px transparent !important; 
    border-radius: 10px;
}
.contentList:hover::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px #34888C !important; 
    border-radius: 10px;
}
.contentList::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background: transparent;
}
.contentList:hover::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background: #34888C;
}
/*changes for CI7*/
.tabComponentWrapper header{
    box-shadow: none;
    background-color: transparent;
}
.tabCardContainer>div>div:nth-child(2)>div>div>div{
    padding-top: 0;
}
.competitorProductWrapper,.ExpertsObservation{
    padding-left: 0 !important;
}
.tabComponentWrapper hr{
    margin: 5px 0;
}
/* customised scrollbar */
.middleCard .tabComponentWrapper > div{
    height: 345px;
}
.ComperitorViewWrapper .middleCard .tabComponentWrapper > div{
    height: 430px;
}
.whatsOn{
    margin-top: 10px;
}
.tabComponentWrapper > div > div>div>div>div{
    padding: 10px 0 0 0 !important;
}
.simpleCardWrapper hr{
    margin: 5px 0;
}
.myCIHomeGenericWrapper .simpleCardWrapper hr{
    margin: 5px 0;
}
.siblingDivWrapper .contentList{
    max-height: 176px;
}
.linkContainer{
    line-height: 1.4;
}
.linkContainer svg{
    float: left;
    margin-right: 5px;
    font-size: 14px;
    margin-top: 3px;
}
.tabComponentWrapper a{
    display: inline-block;
    white-space: nowrap;
    width: 90%;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-right: 5px;
    font-size: 13px;
}
.tabComponentWrapper p,{
    font-size: 12px;
    margin-bottom: 4px;
}
.tabComponentWrapper span{
    font-size: 11px;
}
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
}
::-webkit-scrollbar-thumb {
    border-radius: 5px;
}
.ComperitorViewWrapper .paperWrapper{
    margin: 0;
    padding: 0;
    height: 57px;
}
.licensingWrapper thead,.licensingWrapper tbody,.licensingWrapper td,.licensingWrapper th{
    border: none !important;
}
.licensingWrapper th,.licensingWrapper tbody td:nth-child(1){
    color: #7CAA2D;
}
.patentWatchWrapper th,.patentWatchWrapper tbody td:nth-child(1){
    color: #7CAA2D;
    padding: 5px;
    vertical-align: middle;
    height: 40px;
}
.patentWatchWrapper table>tbody>tr>td{
    padding: 5px;
    vertical-align: middle;
    height: 40px;
}
.patentWatchWrapper table>tbody>tr>td:last-child{
    font-size: 12px;
}
.StackedBarChartWrapper .paperWrapper {
    padding: 10px;
    margin: 0;
    height: 57px;
    text-align: center;
}
.stackedBarChartContainer{
    margin-top:10px;
}
.phasePercentageWrapper{
    margin-top: 10px;
}
.phasePercentageWrapper>div:last-child hr{
    display: none;
}
.phasePercentageWrapper hr{
    margin: 5px 0;
}
.TAViewWrapper .viewDahboardBtn{
    margin-bottom: 5px;
    margin-left: 66%;/*changes for CI-101 by 1442613*/
}
.TAViewWrapper.ComperitorViewWrapper .viewDahboardBtn,.StackedBarChartWrapper .viewDahboardBtn{
    margin-left: 82%;
}

  
@media only screen and (max-width: 767px) {
    .TAViewWrapper .cardContainer.activitiesWrapper > div>div:nth-child(2) {
      height:690px !important;
    }
    .cardContainer>div:nth-child(1)>div:nth-child(1)>div:nth-child(1),.researchWorklistWrapper>div:nth-child(3){
        padding-left:15px !important; 
    }
    .researchWorklistWrapper>div:nth-child(1){
        padding-right: 15px !important;
    }
    .chartWrapper .tilesWrapper>div{
        margin-bottom: 5px;
    }
    .ribbonWrapper{
        display: none;
    }
    .autoSuggestSearchBox{
        margin-top: 10px;
        justify-content: left;
    }
  }
  /*changes by 1442613*/
  /* changes for CI-61*/
  .homePageCardMenu{
      margin-top: 21px;
     
  }
  .homePageCardMenu>div>ul>li{
   padding: 0px 5px 0px 0px;
    font-size: 12px;
    color: black;
   
}
.homePageCardMenu>div>ul>li>a{
     color: black ;  
 }
 .homePageCardMenu>div>ul{
    padding: 0px ;  
}
  /*changes by 1442613*/

  /*changes by 1340730*/
  
  #productInfo>hr{
    display: block;
  }
  .CardWithinCardWrapper , .CardWithinChartWrapper , .CardWithinTabWrapper{
      /* margin-bottom: 5px;
      margin-top: 5px;
      /* margin-right: 10px; */
      /* margin: 10px; */
      margin: 5px; 
    
  }
/*changes by 1340730*/