/* .number {
    font-size: 45px !important;
color: #86827D !important; 
width: 10%;

} */

.text {
    display: inline-block;
    font-size: 13px !important;
    color: #79716b !important;
    /* vertical-align: 15px !important; */
     width: 41%;
     padding: 10px 0px 0px 10px  !important;
  }

  .securitychoice{
    width: 44%;
  }
  .detail {
    color: #7CAA2D;
    font-size: 12px;
    font-weight: normal;
    padding-top: 5px !important;
  }
  .tableBodyWrapper{
    border:none;
  }