.footerWrapper{
    position: fixed;
    bottom: 0;
    width: 100%;
    align-items: center;
    display: flex;
    justify-content: center;
    padding: 5px 10px;
    font-size: 14px;
    margin-top: 10px;
}