.productWrapper{
    font-size: 14px !important; 
    font-family: "Roboto", "Helvetica", "Arial", sans-serif !important;
    font-weight: 400 !important;
    margin-left: 0px !important;
}
.productViewWrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.productViewWrapper>div:first-child,.productViewWrapper>div:last-child{
    /* flex-basis: 50%; */
}
.productViewWrapper>div:last-child{
    text-decoration: underline;
    padding-right: 10px;
}
.filteredCardWrapper{
    min-height: 350px;
    /* height: 350px; */
}