.Breadcrumbs ol li{
    margin: 0px !important;
}
.Breadcrumbs ol li a{
    cursor: pointer;
    margin-right: 3px;
    color:grey;
}
.Breadcrumbs ol li a:hover{
    color: #23527c;
}
.Breadcrumbs ol li a svg,.Breadcrumbs ol li p svg{
    margin-right: 0px;
} 