.ReactModalPortal>div>div{
    width: 60%;
    z-index: 1000;

}
.ReactModalPortal .tabComponentWrapper p,.ReactModalPortal .tabComponentWrapper span{
    font-size: 14px;
}

.ReactModal__Content--after-open div.cardContainer{
  margin-bottom:0px;
}
.ReactModal__Content .breadCrumbWrapper{
    display: none;
}
.kQOhgZ {
    min-height: 330px;
}
.ReactModal__Content .TAViewWrapper.ComperitorViewWrapper .viewDahboardBtn, .ReactModal__Content .StackedBarChartWrapper .viewDahboardBtn{
    margin-left: 88.6%;
    margin-bottom: 6px;
}
.ReactModal__Content .LaunchEstimateWrapper button{
    margin-left: 86%;
}
.ReactModal__Content .viewDahboardBtn{
    margin-bottom: 5px;
    margin-left: 88%;
}
.ReactModal__Content .simpleCardWrapper .contentList, .ReactModal__Content .CardWithinTabWrapper .contentList{
    max-height: 30rem !important;
}