.firstNameTable:hover{
    text-decoration: underline;
    cursor: pointer;
}
.UserGroup>div>div{
    font-size: 14px;
    padding: 10px 14px !important;
}
.nameWrapper , .GroupWrapper{
    display: flex;
    justify-content: space-between;
}
.GroupWrapper>div{
    flex-basis: 233px;

}
.UserGroup>li{
    font-size: 14px !important;
   
}

/* .GroupWrapper>div:first-child{
margin-right: 15px;
    
}
.GroupWrapper>div:last-child{
    margin-left: 15px;
        
    } */